In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('game_of_thrones_character_deaths.csv')

In [45]:
filtro1 = df[['name','gender','a_storm_of_swords']]

In [46]:
filtro1 = filtro1.loc[(filtro1['gender'] == 0) & (filtro1['a_storm_of_swords'] == 0)]
filtro1

                 name  gender  a_storm_of_swords
13            Alayaya       0                  0
20    Alia of Braavos       0                  0
28      Alys Karstark       0                  0
29    Alysane Mormont       0                  0
40      Anya Waynwood       0                  0
..                ...     ...                ...
830        Tyene Sand       0                  0
860              Waif       0                  0
872            Weasel       0                  0
888  Willow Witch-eye       0                  0
896    Wylla Manderly       0                  0

[82 rows x 3 columns]

In [36]:
filtro1.to_csv('mortes_got_fem_livro3', index = False)