In [2]:
import pandas as pd

In [11]:
dados = pd.read_csv('../Spotify/spotifymundo.csv')

In [67]:
dados = dados[['artist', 'is_explicit']]

In [69]:
dados_filtrados = dados.loc[(dados['is_explicit'] == True)]

In [54]:
dados_filtrados.to_csv('dadosexplicit.csv', index=False)

In [55]:
dados_filtrados.to_excel('dadosexplicit2.xlsx', index=False)

In [62]:
dados_filtrados.to_csv('dadosexplicit3.txt', index=False, sep='\t')

In [60]:
dados_filtrados

                                              artist  is_explicit
2                             Yng Lvcas & Peso Pluma         True
9                                            KAROL G         True
11                                 Feid & Young Miko         True
13                                      Metro Boomin         True
14                                Tyler, The Creator         True
..                                               ...          ...
382                        David Guetta & Bebe Rexha         True
385                                        Tom Odell         True
388  Natanael Cano & Peso Pluma & Gabito Ballesteros         True
391                                       The Weeknd         True
394                         Beyoncé & Kendrick Lamar         True

[124 rows x 2 columns]