In [1]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('house.csv')

In [19]:
filtro1 = df.loc[df['Address'].str.contains('Vida', flags=re.I) & (df['Price'] <=2000000)]
filtro1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
20912,Aberfeldie,1A Vida St,3,t,1150000.0,S,Barry,11/11/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
22415,Aberfeldie,53a Vida St,3,t,1370000.0,S,Barry,12/08/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
24747,Aberfeldie,13 Vida St,3,h,1350000.0,VB,McDonald,13/10/2018,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council